@charset "utf-8";

.line-login-box {
  width: 32%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 10px;
}

.line-login-title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.line-login-parts {
  margin: 20px 0;
  padding-left: 15px;
}

.line-login-label {
  display: inline-block;
  width: 30%;
}

.line-login-input {
  font-size: 18px;
  height: 26px;
  border: 1px solid royalblue;
  border-radius: 8px;
}

.line-login-input:focus {
  outline: 1px solid royalblue;
}

.line-login-btn {
  text-align: center;
  margin: 15px 0;
}

.line-login-btn button {
  font-size: 14px;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: royalblue;
}

.line-login-btn button:hover {
  background-color: lightskyblue;
}

.line-login-error {
  margin-left: 30%;
  margin-top: 10px;
  color: red;
}

.line-login-require {
  color: red;
  font-size: 12px;
}