@charset "utf-8";

.menu-box {
  width: 60%;
  margin: 0 auto;
}

.menu-title{
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.menu-item{
  display: flex;
  border-bottom: 1px solid black;
  padding: 10px 5px;
}

.menu-item-content{
  width: 80%;
  padding: 0 10px;
}

.menu-item-select {
  margin-top: 20px;
  margin-left: 20px;
}

.menuBtn button {
  font-size: 18px;
  padding: 10px;
  border: 0.5px solid black;
  border-radius: 5px;
  cursor: pointer;
}
