@charset "utf-8";

.password-done-box{
  width: 32%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px 10px;
}

.password-done-title{
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.password-done-mail{
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
}