@charset "utf-8";
.password-reset-box {
  width: 32%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 10px;
}

.password-reset-title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.password-reset-parts {
  margin: 20px 0;
  padding-left: 15px;
}

.password-reset-label {
  display: inline-block;
  width: 35%;
}

.password-reset-input {
  font-size: 18px;
  height: 20px;
  border: 1px solid royalblue;
  border-radius: 8px;
}

.password-reset-input:focus {
  outline: 1px solid royalblue;
}

.password-reset-btn {
  text-align: center;
  margin: 50px 0 10px 0;
}

.password-reset-btn button {
  font-size: 14px;
  padding: 5px 40px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: royalblue;
}

.password-reset-btn button:hover {
  background-color: lightskyblue;
}

.password-reset-error {
  margin-top: 10px;
  color: red;
}


