@charset "utf-8";
@charset "utf-8";

.password-update-box {
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 10px;
}

.password-update-title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.password-update-parts {
  margin: 20px 0;
  padding-left: 15px;
}

.password-update-label {
  display: inline-block;
  width: 35%;
}

.password-update-input {
  font-size: 18px;
  height: 20px;
  border: 1px solid royalblue;
  border-radius: 8px;
}

.password-update-input:focus {
  outline: 1px solid royalblue;
}

.readonly:focus {
  outline: none;
}

.password-update-btn {
  text-align: center;
  margin: 50px 0 10px 0;
}

.password-update-btn button {
  font-size: 14px;
  padding: 5px 40px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: royalblue;
}

.password-update-btn button:hover {
  background-color: lightskyblue;
}

.password-update-error {
  margin-top: 10px;
  color: red;
}
