@charset "utf-8";

.admin-footer-box{
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px 30px 50px 30px;
  background-color: white;
}

.admin-footer-title{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  text-decoration: underline;
}

.admin-footer-form {
  text-align: center;
}

.admin-footer-parts {
  margin: 20px 0;
  padding-left: 15px;
}

.admin-footer-label {
  display: inline-block;
  width: 100px;
}

.admin-footer-input-name {
  width: 150px;
  font-size: 14px;
  height: 30px;
}
.admin-footer-input-link {
  width: 300px;
  font-size: 14px;
  height: 30px;
}
.admin-footer-form button {
  font-size: 18px;
  padding: 5px 30px;
  margin: 10px 0 15px 0;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: royalblue;
}

.admin-footer-btn button:hover {
  background-color: lightskyblue;
}

.admin-footer-back{
  text-align: center;
}

.admin-footer-error {
  margin-top: 10px;
  color: red;
}