@charset "utf-8";

.rest-single-box{
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px 30px 50px 30px;
  background-color: white;
}

.rest-single-flex{
  display: flex;
  margin-bottom: 40px;
}

.rest-single-title{
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  text-decoration: underline;
}

.rest-single-back {
  font-size: 14px;
  padding: 30px 0 30px 20px;
}

.rest-single-back a{
    text-decoration: none;
}

.rest-single-item {
  margin: 0 auto;
  width: 50%;
}

.rest-single-parts{
  margin-bottom: 30px;
  font-size: 20px;
}

.rest-single-parts-label {
  display: inline-block;
  width: 150px;
}

.rest-single-input{
  display: inline-block;
  margin-left: 40px;
}

.rest-single-btn{
  margin-top: 40px;
  text-align: center;
}

.rest-single-btn button {
  font-size: 18px;
  padding: 5px 30px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: royalblue;
}

.rest-single-btn button:hover {
  background-color: lightskyblue;
}
